.dropdown {
  position: absolute;
  right: 0;
  display: inline-block;
}

.dropdown__container {
  width: 220px;
  padding-top: 12px;
  padding-bottom: 5px;
}

.dropdown__section {
  font-family: Lato;
  line-height: 20px;
  border-bottom: 1px solid #DCDCE0;
  overflow: hidden;
  &:last-child {
    border-bottom: none;
  }
  > * {
    padding: 0 16px;
  }
  &_title {
    font-weight: bold;
    font-size: 14px;
    color: #717175;
    text-transform: uppercase;
    margin-bottom: 2px;
  }
  &_item {
    i {
      margin-right: 10px;
      font-size: 20px;
    }
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    color: #333333;
    height: 34px;
    cursor: pointer;
    &.selected { 
      background-color: #EBEBF3;
    }
    &_company {
      font-weight: bold;
      height: 44px;
      justify-content: space-between;
      &.selected { 
        color: #157123;
        background: rgba(55, 164, 71, 0.1);
        &:hover, &:focus {
          background: rgba(55, 164, 71, 0.2);
        }
      }
      i {
        margin: 0;
        width: 20px;
      }
    }
    &_logout { 
      color: #D33649;
    }
    &:hover, &:focus {
      background-color: #F4F6F9;
    }
  }
}
